# cryptography is an optional dependency, but running the tests properly requires it
cryptography!=3.4,!=3.4.1,!=3.4.2,!=3.4.3

pre-commit
# Make sure that the versions specified here match the pre-commit settings!
black==21.9b0
flake8==4.0.1
pylint==2.12.1
mypy==0.910
pyupgrade==2.29.0

pytest==6.2.5

flaky
beautifulsoup4
wheel
