# cryptography is an optional dependency, but running the tests properly requires it
cryptography!=3.4,!=3.4.1,!=3.4.2,!=3.4.3

pre-commit
# Make sure that the versions specified here match the pre-commit settings!
black==22.3.0
flake8==4.0.1
pylint==2.14.0
mypy==0.960
pyupgrade==2.32.1
isort==5.10.1

pytest==7.1.2
pytest-asyncio==0.18.3
pytest-timeout==2.1.0 # used to timeout tests

flaky  # Used for flaky tests (flaky decorator)
beautifulsoup4  # used in test_official for parsing tg docs
wheel  # required for building the wheels for releases
