pre-commit  # needed for pre-commit hooks in the git commit command

# For the test suite
pytest==8.2.0
pytest-asyncio==0.21.2  # needed because pytest doesn't come with native support for coroutines as tests
pytest-xdist==3.6.1  # xdist runs tests in parallel
flaky  # Used for flaky tests (flaky decorator)
beautifulsoup4  # used in test_official for parsing tg docs

wheel  # required for building the wheels for releases
