name: Prek checks
permissions:
  content: read

on:
  pull_request:
    branches:
      - '**'  # Matches all branch names, for PRs
  push:
    branches:
      - 'master'  # Run tests on master branch

# Cancel any in-progress runs of this workflow for the same PR or branch when a new commit is pushed.
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  prek:
    name: prek
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: j178/prek-action@0bb87d7f00b0c99306c8bcb8b8beba1eb581c037 # v1.1.1